<!DOCTYPE html>
<html>
	<head>
	<title><%= @title %></title>
	<script type="text/javascript"
		src="//static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
	</script>
	<link href="//static0.twilio.com/packages/quickstart/client.css"
		type="text/css" rel="stylesheet" />
	<link href="/style.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript">

	/* Create the Client with a Capability Token */
	Twilio.Device.setup("<%= @token %>");
 
	/* Let us know when the client is ready. */
	Twilio.Device.ready(function (device) {
		$("#log").text("Ready");
	});
 
	/* Report any errors on the screen */
	Twilio.Device.error(function (error) {
		$("#log").text("Error: " + error.message);
	});
 
	Twilio.Device.connect(function (conn) {
		$("#log").text("Successfully established call");
	});
	
	Twilio.Device.disconnect(function (conn) {
		$("#log").text("Call ended");
	});
	Twilio.Device.incoming(function (conn) {
		$("#log").text("Incoming connection from " + conn.parameters.From);
		// accept the incoming connection and start two-way audio
		conn.accept();
	});

	/* Connect to Twilio when we call this function. */
	function call() {
		Twilio.Device.connect();
	}
	function hangup() {
		Twilio.Device.disconnectAll();
	}

    $(function(){
	    $('#participant_form').submit(function(e) {
    	e.preventDefault();

	    // isolate the phone_number_input field so it can be submitted via AJAX to the Ruby backend
	    var post_data = {number: $('#participant_input').val()};
	    var post_data = {mute: $('#mute').val()};

	    // send the AJAX request using jQuery's HTTP POST function
	    var ajax_request = $.post('/dialparticipant', post_data);

	    return false;
    	});
    });

    </script>
	</head>
	<body>
		<div class="container">
			<h2>Your Conference Number:</h2>
			<h1><%= @twilionumber %></h1>

			<button class="call" onclick="call();">
				Call
			</button>

			<button class="hangup" onclick="hangup();">
				Hangup
			</button>
	  
			<div id="log">Loading pigeons...</div>

			<form class="input" id="participant_form">
				<select id="mute" name="muted">
					<option value="unmuted" selected>Unmuted</option>
					<option value="muted">Muted</option>
				</select>
				<input class="well" type="text" id="participant_input" name="number" placeholder="Participant Number&hellip;">
				<button class="call">Call</button>
			</form>
		</div>
	</body>
</html>