body {
  background: url(http://static0.twilio.com/packages/quickstart/whitey.png) center top repeat;
}

.container {
	width: 45%;
    margin: 0px auto;
    padding-top: 5%;
}

input {
	display: inline;
}

button.call, button.hangup{
    margin: 0;
}

.well{
    width: 50%;
}
